a:hover {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

.header {
  position:relative;
  width: 100%;
  overflow: hidden;
  height: 105vh;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 3px;
  position: absolute;
  transform: all 0.3s;
  background: white;
  z-index: 9;
  top: 0px;
  width: 100%;
}

.nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul li {
  display: flex;
}

.nav ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: darkblue;
  padding: 0.25rem 0;
  margin: 10px 1.80rem;
  text-transform: uppercase;
}

.nav ul li.logo img {
  width: 125px
}

.nav ul li.logo .black {
  display: none;
}

.nav ul li.logo a {
  margin: 0 4rem;
}

.nav-icon {
  position: absolute;
  top: 27px;
  right: 30px;
  padding: 5px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.nav-icon span {
  background: black;
  width: 30px;
  height: 1px;
  display: block;
  transition: 300ms linear all;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3) {
  width: 20px;
  margin: 0 auto;
}

.nav-icon span:nth-child(2) {
  margin: 5px 0;
  width: 32px;
}

.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3) {
  width: 32px;
}

.full-nav {
  background: #cfe37d;
  color: #e69a5c;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 3.75rem;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: all .4s ease-in-out;
}

.full-nav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all .4s ease-in-out;
  z-index: 99;
}

.full-nav .logo {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.nav2 {
  display: flex;
  justify-content: center;
}

.nav2 ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
}

.nav2 ul li {
  display: flex;
  flex: 50%;
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 10px solid #cfe37d;
  border-right: 10px solid #cfe37d;
  transition: all .5s;
}

.nav2 ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  color: #081d77;
  padding: 0.25rem 0;
  margin: 0 1.80rem;
  text-transform: uppercase;
}

.nav2 ul li a span {
  color: #b4a5a5;
}

.nav2 ul li:hover {
  background-color: #0b898c;
}

.nav2 ul li:hover a,
.nav2 ul li:hover a span {
  color: white;
}

.social-icons a {
  color: white;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
}

.social-icons a:hover i{
  color: #000000;
  margin-top: -10px;
  border-color: #000000;
}

.social-icons a:hover {
  color: #000000;
  margin-top: -10px;
  border-color: #000000;
}

ul.social-icons.list-inline {
  text-align: center;
  margin-top: 22px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.corner-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 0 0 0 120px;
  z-index: 2;
}

.nav-close {
  display: block;
  width: 30px;
  height:30px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.nav-close span {
  background: #18191d;
  width: 30px;
  height: 1px;
  display: block;
  position: absolute;
  top: 14px;
}

.nav-close span:nth-child(1) {
  transform: rotate(45deg);
}

.nav-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.nav.sticky {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.35);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0;);
    transform: translate3d(0,-100%,0;);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

.nav.sticky a {
  color: #181b1d;
}

.nav.sticky ul li.logo .white {
  display: none;
}

.nav.sticky ul li.logo .black {
  display: inline-block;
}

.nav.sticky .nav-icon span {
  background: #18191d;
}

video #herovideo {
  width:100%;
}

.bx-wrapper .social-icons a {
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  padding-top: 5px;
  transition: all ease 1s;
  background: #000000;
  border-radius: 0px;
}

.bx-wrapper .social-icons a i {
  position: relative;
  bottom: 7px;
}

.vidContent {
  position: absolute;
  top: 290px;
  color: black;
  width: 50%;
  padding: 10px;
  text-align: left;
}

.vidContent h1 {
  font-family: 'Acme', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: #061450;
  text-decoration: uppercase;
  letter-spacing: 2px;
}

.vidContent p {
  font-family: 'Raleway', sans-serif;
}

#vidBtn {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  border-radius: none;
  background: white;
  color: #b13c3c;
  cursor: pointer;
  margin-top: 18px;
  border-radius: 30px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
}

@keyframes shadow-pulse {
  0% {box-shadow: 0 0 0 0px rgba(0,0,0,0.1);}
  100% {box-shadow: 0 0 0 10px rgba(0,0,0,0);}
}

#vidBtn:hover {
  background: #b13c3c;
  color: white;
  animation: none;
  text-decoration: none;
}

.social-icons a {
  color: #333333 !important;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
  background: white !important;
}

ul.social-icons.list-inline {
  text-align: center;
  margin-top: 22px;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.bx-pager .bx-default-pager{
  margin-top: 50px !important;
}

#about-us .carousel-indicators {
  position: static;
  padding-top: 30px;
}

#about-us .carousel-indicators li{
  background-color: black;
  width: 12px;
  height:12px;
  margin-left: 5px;
}

.carousel-control-prev-icon {
    background-image: url(..//img/left-arrow.svg);
    padding: 25px;
}

.carousel-control-next-icon {
    background-image: url(..//img/right-arrow.svg);
    padding: 25px;
}

#about-us .carousel-control-prev,
#about-us .carousel-control-next {
  width: auto;
}

#about-us .carousel-control-next {
  right: -30px;
}

#about-us .carousel-control-prev {
  left: -30px;
}

#about-us h3 {
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}

p.lead {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #f7cc4b !important;
  font-weight: bold;
}

h4.text-dark {
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  font-size: 21px;
}

p.text-secondary {
  font-family: 'Raleway', sans-serif;
  color: darkGrey;
}

#contents {
  margin-top: -400px;
}

#work h3 {
  font-family: 'Acme', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}

.row.no-gutters [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  transition: transform .5s ease;
}

.img-wrapper img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}

img {
  width: 100%;
  height: auto;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
